/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

:root {
  --bg-dark: #040b15;
  --bg-mid: #0a1019;
  --bg-light: #101822;
  --border-color: #ffffff0d;
  --font-primary: #7f818f;
  --player-color: #3180e8;
  --opponent-color: #ea3d35;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  visibility: hidden;
  opacity: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    color: rgb(220, 227, 255);
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  background-color: var(--bg-dark);
  color: var(--font-primary);
  padding: 1em 3em;
  border: 3px solid var(--border-color);
  border-radius: 10px;

  section.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    gap: 1em;
    z-index: 1;

    .round-container,
    .score-limit-container,
    .scores-wrapper {
      background-color: var(--bg-mid);
      border: 2px solid var(--border-color);
      border-radius: 10px;
      height: 100%;
      padding: 1em;
    }

    .round-container,
    .score-limit-container {
      width: 180px;
    }

    .round-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .round-title {
        margin: 0;
        font-size: 1em;
      }

      .round-count {
        color: white;
        font-size: 1.8em;
        font-weight: bold;
      }
    }

    .score-limit-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .score-limit-title {
        margin: 0;
        font-size: 1em;
      }

      .score-limit-value {
        color: white;
        font-size: 1.8em;
        font-weight: bold;
      }
    }

    .scores-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;

      .player-score-container {
        text-align: center;
        width: 200px;

        .player-score-title {
          color: var(--player-color);
          margin: 0;
          font-size: 1.2em;
        }

        .player-score-value {
          color: white;
          font-size: 2em;
          font-weight: bold;
        }
      }

      .opponent-score-container {
        text-align: center;
        width: 200px;

        .opponent-score-title {
          color: var(--opponent-color);
          margin: 0;
          font-size: 1.2em;
        }

        .opponent-score-value {
          color: white;
          font-size: 2em;
          font-weight: bold;
          font-weight: bold;
        }
      }

      .versus-text {
        text-align: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100px;
        font-size: 2em;
        font-weight: bold;
      }
    }
  }

  section.middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 3em 0;
    z-index: 0;

    .player-choice-container,
    .opponent-choice-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 250px;
      height: 250px;
      background-color: var(--bg-dark);
      padding: 2em;
      border-radius: 50%;

      .no-selection {
        font-size: 8em;
        color: rgba(255, 255, 255, 0.15);
      }

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }

      img.rock-icon {
        width: 80%;
      }
    }

    .player-choice-container {
      border: 3px solid var(--player-color);
      -webkit-box-shadow: 0px 0px 15px 2px
        color-mix(in srgb, var(--player-color) 30%, transparent);
      box-shadow: 0px 0px 15px 2px
        color-mix(in srgb, var(--player-color) 30%, transparent);

      img.rock-icon {
        -webkit-transform: rotate(90deg) scale(-1, 1);
        -ms-transform: rotate(90deg) scale(-1, 1);
        transform: rotate(90deg) scale(-1, 1);
      }
      img.paper-icon {
        -webkit-transform: translateY(-5%) rotate(90deg) scale(-1, 1);
        -ms-transform: translateY(-5%) rotate(90deg) scale(-1, 1);
        transform: translateY(-5%) rotate(90deg) scale(-1, 1);
      }
      img.scissors-icon {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }

    .opponent-choice-container {
      border: 3px solid var(--opponent-color);
      -webkit-box-shadow: 0px 0px 15px 2px
        color-mix(in srgb, var(--opponent-color) 30%, transparent);
      box-shadow: 0px 0px 15px 2px
        color-mix(in srgb, var(--opponent-color) 30%, transparent);

      img.rock-icon {
        -webkit-transform: rotate(90deg) scale(-1, -1);
        -ms-transform: rotate(90deg) scale(-1, -1);
        transform: rotate(90deg) scale(-1, -1);
      }
      img.paper-icon {
        -webkit-transform: translateY(-5%) rotate(90deg) scale(-1, -1);
        -ms-transform: translateY(-5%) rotate(90deg) scale(-1, -1);
        transform: translateY(-5%) rotate(90deg) scale(-1, -1);
      }
      img.scissors-icon {
        -webkit-transform: rotate(90deg) scale(1, -1);
        -ms-transform: rotate(90deg) scale(1, -1);
        transform: rotate(90deg) scale(1, -1);
      }
    }

    .choice-seperator {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      width: 260px;
      margin: 0 2em;

      .round-result.info-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 1.5em;

        .round-result-title {
          color: rgb(255, 255, 255);
          margin: 0.2ch;
        }

        .round-result-desc {
          margin: 0;
        }
      }

      button.battle-btn,
      button.reset-btn {
        height: 40px;
        width: 120px;
        cursor: pointer;
      }

      button.battle-btn {
        width: 220px;
        height: 60px;
        background-color: #f5b441;
        border: none;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: bold;
        -webkit-box-shadow: 0px 5px 1px 0px rgb(134, 73, 35);
        box-shadow: 0px 5px 1px 0px rgb(134, 73, 35);
        -webkit-transition:
          font-size 100ms ease,
          color 100ms ease,
          -webkit-box-shadow 100ms ease;
        transition:
          font-size 100ms ease,
          color 100ms ease,
          -webkit-box-shadow 100ms ease;
        transition:
          font-size 100ms ease,
          box-shadow 100ms ease,
          color 100ms ease;
        transition:
          font-size 100ms ease,
          box-shadow 100ms ease,
          color 100ms ease,
          -webkit-box-shadow 100ms ease;

        &:hover {
          -webkit-box-shadow:
            #fff 0 -1px 4px,
            #ff0 0 -2px 10px,
            #ff800085 0 -10px 20px,
            rgba(255, 0, 0, 0.422) 0 -18px 40px,
            0px 7px 1px 0px rgba(0, 0, 0, 0);
          box-shadow:
            #fff 0 -1px 4px,
            #ff0 0 -2px 10px,
            #ff800085 0 -10px 20px,
            rgba(255, 0, 0, 0.422) 0 -18px 40px,
            0px 7px 1px 0px rgba(0, 0, 0, 0);

          color: #c1330f;
          text-shadow:
            0 -1px 4px #ffffff,
            0 -2px 10px #ff0,
            0 -10px 20px #ff8000,
            0 -18px 40px #f00;

          font-size: 1.3em;
        }
      }

      button.battle-btn:disabled {
        background-color: #ba8e43;
        pointer-events: none;
      }

      .reset-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1.5em;
        background-color: var(--bg-light);
        color: var(--font-primary);
        border: 2px solid var(--border-color);
        border-radius: 10px;

        span {
          -webkit-transform: scale(-1, 1) translateX(6px);
          -ms-transform: scale(-1, 1) translateX(6px);
          transform: scale(-1, 1) translateX(6px);
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.12);
        }
      }
    }
  }

  section.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    z-index: 1;

    .your-move-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      border: 2px solid var(--border-color);
      border-radius: 10px;
      background-color: var(--bg-mid);
      padding: 1em;

      .your-move-heading {
        position: relative;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.6em;
      }

      /* Move heading divider lines */
      .your-move-heading:before,
      .your-move-heading:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-top: 2px solid var(--border-color);
      }
      .your-move-heading:before {
        -webkit-transform: translateX(calc(-100% - 20px)) translateY(50%);
        -ms-transform: translateX(calc(-100% - 20px)) translateY(50%);
        transform: translateX(calc(-100% - 20px)) translateY(50%);
      }
      .your-move-heading:after {
        -webkit-transform: translateX(20px) translateY(50%);
        -ms-transform: translateX(20px) translateY(50%);
        transform: translateX(20px) translateY(50%);
      }

      .choice-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 2em;

        button.choice-btn {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          width: 200px;
          height: -webkit-max-content;
          height: -moz-max-content;
          height: max-content;
          padding: 1em;
          overflow: hidden;
          border: 2px solid var(--border-color);
          border-radius: 10%;
          background-color: var(--bg-light);
          cursor: pointer;

          &.selected {
            background-color: rgba(255, 255, 255, 0.1);
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.12);
          }

          img {
            width: auto;
            height: 50px;
            -o-object-fit: scale-down;
            object-fit: scale-down;
            pointer-events: none;
            stroke-width: 2px;
          }

          img.rock-icon {
            -webkit-transform: scale(-0.8, 0.8);
            -ms-transform: scale(-0.8, 0.8);
            transform: scale(-0.8, 0.8);
          }

          img.paper-icon {
            -webkit-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
          }

          span {
            color: white;
            margin-top: 0.8em;
          }
        }
      }
    }
  }
}

footer {
  margin: auto 0 0 0;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(115, 115, 115);
}

/* ----------- ANIMATIONS ----------- */
.player-choice-container.winner::before,
.opponent-choice-container.winner::before {
  position: absolute;
  content: "";
  width: 600px;
  height: 600px;
  z-index: -1;

  background: repeating-conic-gradient(
    #ff000000 0%,
    #ff000000 5%,
    var(--player-color) 5%,
    var(--player-color) 10%
  );

  -webkit-mask: radial-gradient(
    circle 166px,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.17),
    rgba(255, 245, 238, 0)
  );

  mask: radial-gradient(
    circle 166px,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.17),
    rgba(255, 245, 238, 0)
  );

  -webkit-filter: blur(2px);

  filter: blur(2px);

  -webkit-transform-origin: center;

  -ms-transform-origin: center;

  transform-origin: center;
  -webkit-animation: rotate 20s linear infinite;
  animation: rotate 20s linear infinite;
}

.opponent-choice-container.winner::before {
  background: repeating-conic-gradient(
    #ff000000 0%,
    #ff000000 5%,
    var(--opponent-color) 5%,
    var(--opponent-color) 10%
  );
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
